/* COLORS
dark color: #0E2431
raspberry: #FC3A52
mustard: #F9B248
light sand: #E8D5B7
*/

/*FONTS
font-family: 'Plaster', cursive;
font-family: 'Raleway', sans-serif;
*/


body {
  margin: 0;
  padding: 0;
  background-color: #0E2431;
  color: #E8D5B7;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: auto;
}

.row {
  margin-right: 0px;
}

.hide {
  display: none;
}

.clickable:hover{
  cursor: pointer;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FC3A52;
  margin-bottom: 2em;
}

.navigation li:hover {
  color: black;
}

.navigation li {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 3px;
}

ul {
  width: auto;
}

li {
  list-style: none;
}

.info-image {
  width: 600px;
  height: auto;
  object-fit: cover;
  float: right;
  margin: 0px 80px;
}

.form-margin {
  margin: 0px 50px;
}

#add-users {
  float: right;
  text-decoration: underline;
}

.hover li:hover {
  font-size: 18px;
  margin: -3px;
}

.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 1200px;
  float: left;
  width: 20%;
}

.sidebar::-webkit-scrollbar {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #FC3A52;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-corner {
  background: transparent;
}

.main-div {
  float: right;
  width: 75%;
}

.step-1 {
  width: 100%;
  height: 100%;
}

.step-1 h1 {
  font-family: 'Plaster', cursive;
  position: absolute;
  font-size: 60px;
  top: 85%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.step-2 {
  display: none;
}

.splash-image {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
