/* COLORS
dark color: #0E2431
salmon: #FC3A52
mustard: #F9B248
light sand: #E8D5B7
*/

/*FONTS
font-family: 'Plaster', cursive;
font-family: 'Raleway', sans-serif;*/


body {
  margin: 0;
  padding: 0;
  background-color: #0E2431;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

.hide {
  display: none;
}

.clickable:hover{
  cursor: pointer;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FC3A52;
  margin-bottom: 2em;
}

.navigation li:hover {
  color: black;
}

.navigation li {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 3px;
}

ul {
  width: 100%;
}

li {
  list-style: none;
}

.info-image {
  width: 400px;
  height: auto;
  object-fit: cover;
  float: right;
  margin: 0px 50px;
}

.form-margin {
  margin: 0px 50px;
}

#add-users {
  float: right;
  text-decoration: underline;
}

.hover li:hover {
  font-size: 20px;
  margin: -3px;
}

.sidebar {
  overflow: scroll;
  position: relative;
  height: 600px;
  float: left;
  width: 30%;
}

.main-div {
  float: right;
  width: 70%;
}
